# Node.js
node_modules/

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
lib/
bin/
__pycache__/
*.pyc

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn
yarn-error.log
.pnp/
.pnp.js

# dotenv environment variables file
.env

# vscode settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# npm
npm-debug.log*
